<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <title>Catalog</title>
</head>
<body>
<p>Конструкторы для детей</p>
<div class="header">
<ul class ="menu">
    <li><a href="index.html">Главная</a></li>
    <li><a href="catalog.html">Каталог товаров</a></li>
    <li><a href="contacts.html">Контакты</a></li>
</ul>
</div>
<hr>
<h1>Каталог товаров:</h1>

<img src="Foto/10397/10397_1.JPG" alt="" title="small_foto1" width="200">
<p>Конструктор Ниндзя «Дракон Мастера Ву»</p>
<p>
<a href="Products/product_1.html">Конструктор 1</a>
</p>

<hr>
<div class="footer">
    <p>
        &copy;"Все права защищены"
    </p>
</div>
    

</body>
</html>