<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <title>Contacts</title>
</head>
<body>
<p>Конструкторы для детей</p>
<div class="header">
<ul class ="menu">
    <li><a href="index.html">Главная</a></li>
    <li><a href="catalog.html">Каталог товаров</a></li>
    <li><a href="contacts.html">Контакты</a></li>
</ul>
</div>
<hr>
<h1>Контакты:</h1>
<p></p>
<form><!-- action="form.html" method="get">-->
<fieldset>
    <legend>Напишите нам</legend>
    <label for="name">Введите ваше имя:</label>
    <br>
    <input name="username" id="name" type="text" placeholder="Например: Тутанхамон">
    <br>
    <label for="mail">Введите ваш Email:</label>
    <br>
    <input name="usermail" id="mail" type="email" placeholder="my_mail@host.ru">
    <br>
    <label for="topic">Тема:</label>
    <br>
    <input name="usertopic" id="topic" type="text" placeholder="НЛО">
    <br>
    <label for="text">Текст вашего сообщения:</label>
    <br>
    <textarea name="usertext" id = "text" type ="text" placeholder="Расскажите анекдот"></textarea>
    <br>
    <input type="submit">
</fieldset>
</form>
<h2>Как с нами связаться:</h2>
<p>Телефон:8-812-555-55-55</p>
<p>Адрес: СПб, ул.Счастливая, д.13</p>
<p>Email: constructor_world@host.ru</p>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad4f3e4719ce646c4e50c36ad0e2c81d8ef35189a77ee8a1e056a097178c8d72f&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
<hr>
<div class="footer">
    <p>
        &copy;"Все права защищены"
    </p>
</div>
    
</body>
</html>