<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <title>Constructor sets for children</title>
</head>
<body>
<p>Конструкторы для детей</p>
<div class="header">
<ul class ="menu">
    <li><a href="index.html">Главная</a></li>
    <li><a href="catalog.html">Каталог товаров</a></li>
    <li><a href="contacts.html">Контакты</a></li>
</ul>
</div>
<hr>
<h1>Главная</h1>
<p>Уважаемые клиенты, приветствуем вас в нашем интернет-магазине!</p>
<p>Самые крутые конструкторы здесь!</p>

<hr>
<div class="footer">
<p>
    &copy;"Все права защищены"
</p>
</div>
</body>
</html>