<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Constructor set 1</title>
</head>
<body>
<div class="container">
    <div class="header">
        <!-- <img class="background-foto" src="../Foto/constructor_background.jpg" alt="background-foto">-->
        <img class="logo" src="../Foto/logo.png" alt="logo"> 
        <ul class ="menu">
            <li><a href="../index.html">Главная</a></li>
            <li><a href="../catalog.html">Каталог товаров</a></li>
            <li><a href="../contacts.html">Контакты</a></li>
        </ul>
        <p class="shop_name">Конструкторы для детей</p>
    </div>
<hr>
<div class="product_header_and_image">
    <h1>Конструктор Bela Ниндзя «Титановый дракон» 359 дет</h1>
    <a href="../Foto/10323/10323_1.JPG" target="_blank">
        <img class="product_foto" src="../Foto/10323/10323_1.JPG" alt="Constructor frontside">
    </a>
    <div class="header_and_short_description">
        <h2 class = "headers">Описание товара:</h2>
        <p class = "short_description">
                Конструктор Bela Ninja Ниндзя «Титановый дракон», артикул 10323, 359 деталей (аналог Lego NinjaGo НиндзяГо 70748)
        </p>
    </div>
    <div class="buy_button">
        <a href="#">Купить</a>
    </div>
</div>
<div class="all_fotos">
        <p>Все фото:</p>
    <a href='../Foto/10323/10323_1.JPG' target="_blank">
        <img class="small_product_foto" src="../Foto/10323/10323_1.JPG" alt="" title="small_foto1" width="100">
    </a>
    <a href='../Foto/10397/10397_2.JPG' target="_blank">
        <img class="small_product_foto" src="../Foto/10323/10323_2.JPG" alt="" title="small_foto2" width="100">
    </a>
    <a href='../Foto/10397/10397_3.JPG' target="_blank">
        <img class="small_product_foto" src="../Foto/10323/10323_3.JPG" alt="" title="small_foto3" width="100">
    </a>
    <a href='../Foto/10397/10397_4.JPG' target="_blank">
        <img class="small_product_foto" src="../Foto/10323/10323_4.JPG" alt="" title="small_foto4" width="100">
    </a>
    <a href='../Foto/10397/10397_5.JPG' target="_blank">
        <img class="small_product_foto" src="../Foto/10323/10323_5.JPG" alt="" title="small_foto5" width="100">
    </a>
</div>

<div class="header_and_characteristics">
    <h2 class="headers">Характеристики:</h2>
    <ul class="characteristics">
        <li> Страна-производитель: Китай;</li>
        <li> Пол ребенка: для мальчиков;</li>
        <li> Рекомендуемый возраст: от 6 лет;</li>
        <li> Инструкция по сборке: есть;</li>
        <li> Материал: ABS пластик;</li>
        <li> Вес в упаковке: 1200 г;</li>
        <li> Размер упаковки:
            <table>
                <tr>
                    <td>Длина</td>
                    <td>38см</td>
                </tr>
                <tr>
                    <td>Высота</td>
                    <td>26см</td>
                </tr>
                <tr>
                    <td>Ширина</td>
                    <td>5,5см</td>
                </tr>
            </table>
        </li>
    </ul>
</div>
<div class="header_and_full_description">
    <h3 class="headers">Подробное описание товара:</h3>
    <p class="full_description">
            В набор входят 3 минифигурки с разнообразным оружием и аксессуарами: Титановый Зейн, Клаус и ЧоупРай
            
            Вырвись из плена с помощью титанового Зейна на чудовищном титановом драконе! 
            Садись в седло вместе с героем-ниндзя и скачи на необъезженном бронированном драконе в бой! 
            Открой пасть, чтобы обнажить острые зубы, и отрегулируй голову, крылья, ноги и хвост на различные положения во время страшного сражения. 
            Побег будет жестким, потому что Клаус и Чопрей подстерегают тебя на заставе Анакондрай, а там много оружия. 
            Защищайся от лезвия Анакондры во время атак Чопрея. 
            Следи за опасным метательным приспособлением для ловли, выпущенным из катапульты, и ускользай, пока не победишь, вместе с Зейном!
    </p>
    <p>
            Все детали выполнены из прочного и безопасного материала, который не причинит вреда здоровью ребенка.
            
            Конструктор станет отличным подарком как на различные праздники детям, так и поощрением за их успехи и достижения в саду и школе.
            
            Конструктор полностью совместим с конструкторами других марок, таких, как LEGO, Sluban, Ausini, Bela и Brick, lepin.
    </p>
</div>
<hr>
<div class="footer">
    <div class="copyright">&copy;"Все права защищены"</div>
</div>
    
</body>
</html>